<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin> 
  <extension point="org.knime.workbench.repository.categories"> 
    <category description="/community/EssBAR" icon="icons/category.png" level-id="EssBAR" name="EssBAR" path="/community"/>
    <category description="/community/EssBAR/NGSTools" icon="icons/category.png" level-id="NGSTools" name="NGSTools" path="/community/EssBAR"/>
    <category description="/community/EssBAR/NGSTools/QC and Views" icon="icons/category.png" level-id="QC and Views" name="QC and Views" path="/community/EssBAR/NGSTools"/>
  </extension>  
  <extension point="org.knime.workbench.repository.nodes"> 
     <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.FastQC.FastQCNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
     <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.MultiQC.MultiQCNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
 	 <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.QUAST.QUASTNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
  	 <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.KtImportTaxonomy.KtImportTaxonomyNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
  	 <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.KtImportText.KtImportTextNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
  	 <node factory-class="de.essbar.ngs_toolbox.QC.knime.nodes.QualiMapBAMQC.QualiMapBAMQCNodeFactory" category-path="/community/EssBAR/NGSTools/QC and Views"/>
  </extension>  
  <extension point="org.knime.base.filehandling.mimetypes"> 
    <mimetype name="application/x-fastq">
      <fileextension name="fq"/>
      <fileextension name="fastq"/>
    </mimetype>
    <mimetype name="application/x-fasta">
      <fileextension name="fa"/>
      <fileextension name="fasta"/>
      <fileextension name="fna"/>
    </mimetype>
    <mimetype name="application/x-sam">
      <fileextension name="sam"/>
    </mimetype>
    <mimetype name="application/x-bam">
      <fileextension name="bam"/>
    </mimetype>
    <mimetype name="application/txt">
      <fileextension name="txt"/>
      <fileextension name="tsv"/>
      <fileextension name="csv"/>
    </mimetype>
    <mimetype name="application/html">
      <fileextension name="html"/>
    </mimetype>
        <mimetype name="application/x-gz">
      <fileextension name="gz"/>
    </mimetype>
    <mimetype name="application/x-zip">
      <fileextension name="zip"/>
    </mimetype>
    <mimetype name="application/x-gff">
      <fileextension name="gff"/>
    </mimetype>
    <mimetype name="application/x-bed">
      <fileextension name="bed"/>
    </mimetype>
    <mimetype name="quast/output">
      <fileextension name="stderr"/>
      <fileextension name="stdout"/>
      <fileextension name="gp"/>
      <fileextension name="coords"/>
      <fileextension name="filtered"/>
      <fileextension name="fplot"/>
      <fileextension name="rplot"/>
      <fileextension name="unaligned"/>
      <fileextension name="filter"/>
      <fileextension name="sf"/>
    </mimetype>
    <mimetype name="kraken/x-kraken">
      <fileextension name="kraken"/>
    </mimetype>
    <mimetype name="krona/x-html">
      <fileextension name="html"/>
    </mimetype>
    <mimetype name="qualimap/x-html">
     <fileextension name="html"/>
    </mimetype>
    <mimetype name="qualimap/x-tsv">
      <fileextension name="tsv"/>
    </mimetype>
  </extension> 
</plugin>
